/**
 * media queries
 */
@media screen and (max-width: 600px) {
  .display-area {
    height: 280px;
  }

  .radar-area {
    height: 240px;
  }

  .center {
    width: 312px;
  }

  .panel {
    height: 215px;
  }

  .opt-area {
    height: 215px;
  }

  .radar {
    left: 116px;
    top: 67.5px;
  }

  .battery-container {
    left: 61px;
    top: 52.5px;
  }

  .battery-anode {
    left: 246px;
    top: 87.5px;
  }
}
@media screen and (min-width: 601px) {
  .display-area {
    height: 500px;
  }

  .radar-area {
    height: 445px;
  }

  .center {
    width: 600px;
  }

  .panel {
    height: 420px;
  }

  .opt-area {
    height: 420px;
  }

  .radar {
    left: 260px;
    top: 170px;
  }

  .battery-container {
    left: 205px;
    top: 155px;
  }

  .battery-anode {
    left: 390px;
    top: 190px;
  }
}
.center {
  margin: 0 auto;
}

.display-area {
  background: #c5dcfd;
}

/*** 雷达操作区 ***/
.switch-way {
  text-align: center;
  margin: 0 0 5px;
}
.switch-way li {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bdbdbd;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.switch-way li:first-child {
  margin-right: 10px;
}
.switch-way li.active {
  background: #2196fb;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.54);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.54);
}

.panel {
  position: relative;
  overflow: hidden;
}

.opt-area {
  background: #a3adb3;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.66) inset;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.66) inset;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.66) inset;
  z-index: 0;
  width: 100%;
}

.radar {
  position: absolute;
  z-index: 2;
  width: 80px;
  height: 80px;
}
.radar.active {
  background: url("../../../web/assets/img/radarbg.png") no-repeat;
}
.radar.detecting .radar-bg {
  display: block;
}
.radar.detecting .radar-handler {
  background: #5faccc;
}
.radar .radar-bg {
  position: absolute;
  left: 0;
  top: 0;
  border-width: 40px;
  border-style: solid;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  height: 0px;
  width: 0px;
  border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
  z-index: 3;
  display: none;
}
.radar .radar-handler {
  position: absolute;
  left: 27.5px;
  top: 27.5px;
  width: 15px;
  height: 15px;
  background: #4cacff;
  z-index: 4;
  border: 5px solid white;
  -webkit-border-radius: 12.5px;
  -moz-border-radius: 12.5px;
  border-radius: 12.5px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
}

#message {
  position: absolute;
  z-index: 1;
  width: 80px;
  height: 70px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #605e5e;
  overflow: hidden;
}
#message .mask {
  position: absolute;
}
#message .result-msg {
  background: #e4edf2;
  height: 35px;
}
#message.left {
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 70px;
  height: 80px;
}
#message.left .mask {
  width: 35px;
  height: 80px;
  left: 35px;
  top: 0;
  background: url("../../../web/assets/img/round.png") 0 -5px no-repeat;
}
#message.left .result-msg {
  margin-right: 35px;
  width: 35px;
  height: 80px;
}
#message.right {
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 70px;
  height: 80px;
}
#message.right .mask {
  width: 70px;
  height: 80px;
  left: 0;
  top: 0;
  background: url("../../../web/assets/img/round.png") -55px -5px no-repeat;
}
#message.right .result-msg {
  margin-left: 35px;
  width: 35px;
  height: 80px;
}
#message.top {
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
#message.top .mask {
  width: 80px;
  height: 35px;
  left: 0;
  top: 35px;
  background: url("../../../web/assets/img/round.png") -5px 0 no-repeat;
}
#message.top .result-msg {
  margin-bottom: 35px;
  width: 80px;
  height: 35px;
  text-align: center;
}
#message.bottom {
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#message.bottom .mask {
  width: 80px;
  height: 35px;
  left: 0;
  top: 0;
  background: url("../../../web/assets/img/round.png") -5px -55px no-repeat;
}
#message.bottom .result-msg {
  margin-top: 35px;
  text-align: center;
  width: 80px;
  height: 35px;
}
#message.lefttop {
  -webkit-transform-origin: -10px 50%;
  -moz-transform-origin: -10px 50%;
  transform-origin: -10px 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
#message.leftbottom {
  -webkit-transform-origin: -10px 50%;
  -moz-transform-origin: -10px 50%;
  transform-origin: -10px 50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#message.righttop {
  -webkit-transform-origin: 80px 50%;
  -moz-transform-origin: 80px 50%;
  transform-origin: 80px 50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#message.rightbottom {
  -webkit-transform-origin: 80px 50%;
  -moz-transform-origin: 80px 50%;
  transform-origin: 80px 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*** 歌曲列表区 ***/
.songs-area {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0 6px 0 6px;
  border-color: #565656;
  border-style: solid;
  height: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #565656;
  margin-top: 13px;
}

.songs-list {
  position: absolute;
  width: 100%;
  top: 5px;
  height: 200px;
  -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 9px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  margin-bottom: 80px;
}

.songs-list li {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  padding: 0 100px 0 20px;
  color: #3162c3;
  position: relative;
}
.songs-list li:nth-child(odd) {
  background: #f4f4f4;
}
.songs-list li:nth-child(even) {
  background: #d7dde1;
}
.songs-list li .play-btn, .songs-list li .addtolist-btn {
  position: absolute;
  top: 10px;
  width: 28px;
  height: 28px;
  padding: 0;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.33);
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.songs-list li .play-btn {
  right: 60px;
  background-image: url("../../../web/assets/img/icon-play.png");
}
.songs-list li .addtolist-btn {
  right: 20px;
  background-image: url("../../../web/assets/img/icon-addtolist.png");
}

/*** 音乐雷达说明 ***/
.illustration-area {
  margin-bottom: 150px;
}

.radar-illustration {
  text-align: center;
  margin-top: 10px;
}

/*** 电池 ****/
.battery-container {
  position: relative;
  width: 180px;
  height: 100px;
  border: 5px solid white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #cad0d3;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.66) inset;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.66) inset;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.66) inset;
  overflow: hidden;
}

.battery-anode {
  position: absolute;
  width: 15px;
  height: 30px;
  border-width: 5px 5px 5px 0;
  background: #cad0d3;
  border-color: #fff;
  border-style: solid;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.66) inset;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.66) inset;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.66) inset;
}

.battery-energy {
  width: 0;
  height: 100px;
  background: #90d5fe;
  -webkit-box-shadow: 3px 0 1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 3px 0 1px rgba(0, 0, 0, 0.17);
  box-shadow: 3px 0 1px rgba(0, 0, 0, 0.17);
}

.light {
  position: absolute;
  left: 500px;
  top: 200;
  width: 90px;
  height: 90px;
  background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  transform: skewx(-25deg);
  -o-transform: skewx(-25deg);
  -moz-transform: skewx(-25deg);
  -webkit-transform: skewx(-25deg);
  -moz-transition: 0s;
  -o-transition: 0s;
  -webkit-transition: 0s;
  transition: 0s;
}
