.ks-scrollview {
  overflow: hidden !important;
  position: relative;
  /*do not use move cursor of dd*/
  cursor: default;
  outline: none;
}

.ks-scrollview-contentbox {
  position: relative;
  left: 0;
  top: 0;
}

.ks-scrollbar-y {
  position: absolute;
  right: 0;
  height: 100%;
  z-index: 9;
}

.ks-scrollbar-y-track,
.ks-scrollbar-y-drag,
.ks-scrollbar-y {
  width: 6px;
}

.ks-scrollbar-y-arrow-up,
.ks-scrollbar-y-arrow-down {
  display: none;
}

.ks-scrollbar-y-track {
  position: absolute;
  right: 3px;
  top: 0;
  bottom: 0;
}

.ks-ie6 .ks-scrollbar-y-track {
  height: expression(this.parentNode.clientHeight);
}

.ks-scrollbar-y-drag {
  position: absolute;
  background: #333;
  border-radius: 3px;
  opacity: 0.5;
}

.ks-ie6 .ks-scrollbar-y-drag,
.ks-ie7 .ks-scrollbar-y-drag,
.ks-ie8 .ks-scrollbar-y-drag {
  filter: alpha(opacity=50);
}

.ks-scrollbar-x {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 9;
}

.ks-scrollbar-x-track,
.ks-scrollbar-x-drag,
.ks-scrollbar-x {
  height: 6px;
}

.ks-scrollbar-x-arrow-up,
.ks-scrollbar-x-arrow-down {
  display: none;
}

.ks-scrollbar-x-track {
  position: absolute;
  left: 0;
  right: 0;
}

.ks-ie6 .ks-scrollbar-x-track {
  width: expression(this.parentNode.clientWidth);
}

.ks-scrollbar-x-drag {
  position: absolute;
  background: #333;
  border-radius: 3px;
  opacity: 0.5;
}

.ks-ie6 .ks-scrollbar-x-drag,
.ks-ie7 .ks-scrollbar-x-drag,
.ks-ie8 .ks-scrollbar-x-drag {
  filter: alpha(opacity=50);
}

/*** 导航头部 ***/
.header-page {
  height: 40px;
  background-color: #f4f4f4;
  position: relative;
}

.header-page h1 {
  text-align: center;
  color: #414243;
  margin: 0;
}

.header-page .icon {
  display: block;
  position: absolute;
  width: 60px;
  height: 40px;
  background: #ededed;
}

.header-page .list-icon {
  left: 0;
  top: 0;
}

.header-page .search-icon {
  left: 100%;
  top: 0;
  margin-left: -60px;
}

/**** 悬浮播放器 ****/
#suspender {
  opacity: 0.75;
  position: fixed;
  bottom: 10%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  border: 6px solid #fff;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: 0 2px 18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 2px 18px rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.75);
  border-color: #7ad5f7 #7ad5f7 #7ad5f7 #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  overflow: hidden;
}
#suspender .s-inner {
  width: 100%;
  height: 100%;
  background-color: #a6defe;
  -webkit-box-shadow: 0 10px 13px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0 10px 13px rgba(0, 0, 0, 0.75) inset;
  box-shadow: 0 10px 13px rgba(0, 0, 0, 0.75) inset;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background-image: url("../../web/assets/img/icon-suspender-music.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
#suspender .s-play-icon {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../../web/assets/img/icon-suspender-play.png") center center no-repeat;
}
#suspender.playing .s-inner {
  background-image: url("http://img.xiami.com/images/album/img78/64778/4059921286936374_1.jpg");
}
#suspender.playing .s-play-icon {
  display: inline-block;
}
